@import 'theme/_backgrounds';

@import 'module/_m-table';

html {
  height: 100vh;
}

body {
  @extend %baize;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}