%baize {
  background-attachment: scroll;
  background-color: #1d7507;
  background-image: none;
  background-origin: content-box;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}